{
    frankenphp
    order php_server before file_server
}

{$SERVER_NAME} {
    encode zstd gzip
    root * /app/public

    # Santé statique
    handle_path /healthz {
        respond "OK" 200
    }

    php_server
    file_server
}

{$CHILD_APP_VAULT_SERVER_NAME} {
    reverse_proxy {$CHILD_APP_VAULT_UPSTREAM} {
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Port 443
    }
}
