{
    frankenphp
    order php_server before file_server
}

:8080 {
    encode zstd gzip
    root * /app/public

    # Santé statique
    handle_path /healthz {
        respond "OK" 200
    }

    php_server
    file_server
}
